/* SET UP */
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

:root {
  --prime-color: #1ebdc2;
  --second-color: #182761;
}

*{
  background: white;
  margin: 10px;
  padding: 2px;
  font-family: 'Roboto', sans-serif;
  color: #757575;
}

html, body{
  padding: 0;
  margin: 0;
}
.center{text-align: center;}
.inline{display: inline;}

.elevation-8dp {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

/* DESKTOP */
body{
  display: grid;
  grid-template-areas:
    'prof educ educ'
    'prof exp exp'
    'footer footer footer'
    'after after after';
  background: #eceff1;
  grid-gap: 10px;
}

aside{
  grid-area: prof;
  margin-left: 5vw;
  padding: 0;
}

header{
  position: relative;
  background: url("photo_2020-09-21_22-32-24.jpg") no-repeat right bottom;
  background-size: cover;
  height: 25vh;
  margin: 0 0 0 auto;
  padding: 0 0 0 auto;
}

header h2{
  color: white;
  background: rgba(0,0,0,0);
}

.education{grid-area: educ;}

.experience{grid-area: exp;}

section{
  background: white;
  margin-right: 5vw;
}

h5{
  font-size: 1.1rem;
  font-weight: bolder;
}

.date{
  color: var(--prime-color);
}

.actual{
  background: var(--prime-color);
  color: white;
}

.fa{
  color: var(--prime-color);
}

/* FOOTER */
footer{
  grid-area: footer;
  margin: 0;
  background: var(--prime-color);
  padding: 0;
}
footer *{
  background: inherit;
  color: white;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
footer a{text-decoration: none; color: inherit;}

footer .fa{
  color: inherit;
}

.copyright{
  background: var(--second-color);
}

.after-all{
  grid-area: after;
}

.colors span{
  margin: 3px;
  border: solid black 1px;
  font-size:30px;
  padding-left:30px;
}

/* MOBILE */
@@media query {

}
